.paragraph p{
  line-height: 1.2em;
}
.paragraph a{
  color:blue;
}
img{
  border-radius: 50%;
}
#quote p{
  font-family: Arial, Helvetica, sans-serif;
}
.content {
    max-width: 500px;
    margin: auto;
  }
p {
    margin: 25px;
    padding: 10%;
  }

#quote img {
    float:left;
   }
/* Peruse the complete HTML element list and try to incorporate some of them. --> */
body {background-color: blanchedalmond;
}

#bullet-point li{
  /* bullet points arent moving */
  /* Change the bullet points on the list of places to be a different character, like ☞. */
  text-align: center;
}