<h1>Grocery list</h1>

<h2>Completed items:</h2>
<ul>
{%for grocery_item in grocery_list%}
    {% if grocery_item.was_completed == True%}
        <li><a href="{%url 'detail' grocery_item.id%}">{{ grocery_item.item_text }}</a> </li>
    {% endif %}
{%endfor%}
</ul>

<h2>Incompleted items:</h2>
<ul>
{%for grocery_item in grocery_list%}
    {% if grocery_item.was_completed == False %}
        <li><a href="{%url 'detail' grocery_item.id%}">{{ grocery_item.item_text }}</a> </li>
    {% endif %}
{%endfor%}
</ul>

<h1>Add items</h1>
<form method="post" action="{% url 'create' %}"> 
    {%csrf_token%}
    <input type="text" name="text" id="text">
    <input type="submit" value="Add">
</form>