<!DOCTYPE html>
<html>
    <head>
        <title>URL Shortener</title>
    </head>
    <body>
        <h1>URL Shortener</h1>
        <form action="{% url 'url_shortener:add' %}" method="post">
            {% csrf_token %}
            <label for="link">Enter link</label>
            <input type="text" name="link" id="link" required/>
            <input type="submit" value="Shorten"/>
        </form>
        {% if msg %}
            <h3>{{ msg }}</h3>
        {% endif %}
        {% if success %}
            <h3><a href="{{ success.long_link }}">{{ success.short_code }}</a></h3>
        {% endif %}
    </body>
</html>