html { 
    background: url(shadowgirlmountain.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    }
   
*, *:before, *:after {
    box-sizing: inherit;
}

header {
    display: flex;
    color: black;
    align-content: top;
    align-self: top;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 1em;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex-shrink: initial;
    background-image: linear-gradient(to right, rgba(209, 181, 180, .75), rgba(139, 146, 184, .75), rgba(175, 142, 166, .65),  rgba(200, 167, 174, .5));
}

.biggest_container {
    display: flex;
    flex-flow: column wrap;
    background: rgba(0, 0, 0, .5);
    padding: 1%;
    border-radius: 30px;
    align-content: center;
    justify-items: center;
  }

.medium_container_side {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba(83, 0, 83, .5);
    padding: 2%;
    border-radius: 10px;
    min-width: 27vw;
}
.container_main{
    display: flex;
    }

.biggest_container2{
    display: flex;
    flex-flow: row;
    background-color: rgba(200, 167, 174, .5);
    border-radius: 30px;
    padding: 1%;
    align-content: center;
    justify-items: center;
}

.container2_main{
    display: flex;
    background: rgba(143, 150, 51, 0.75);
    width: 99%;
    height: 99%;
    border-radius: 15px;
    padding: 1%;
    justify-self: center;
    align-self: center;
    flex-wrap: wrap;
}

.small_story_container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 99%;
    width: 99%;
    align-content: space-around;
    background-color: rgba(120, 199, 127, 0.5);
    border-radius: 15px;
}

.little_story {
    display: flex;
    flex:1;
    border-radius: 15px;
    background-color: rgba(0, 255, 242, .5);
    padding: .5em;
    flex-flow: row wrap;
    min-width: 200px;
}

img{
    border: 1 px black;
    border-radius: 3%;
    padding: 3px;
    max-width: 100%;
}

.button {
    display: flex;
    padding: 1%;
    border-radius: 3px;
    border: 1 px black;
    color: rgba(0, 0, 0, .5);
    max-width: 100%;
    margin: 1px;
    padding: 1px;
    border-radius: 2px;
    background-image: linear-gradient(to right, rgba(209, 181, 180, .6), rgba(139, 146, 184, .45), rgba(175, 142, 166, .3),  rgba(200, 167, 174, 0), rgba(209, 181, 180, .6));
}