html { 
    background: url(tortillawallpaper.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
    }
   
*, *:before, *:after {
    box-sizing: inherit;
}

div.fieldset1_container {
    display: flex;
    background-color: rgba(1, 1, 1, .10);
    margin: 8px;
    padding: 2px;
    width: 99%;
    border-radius: 25px;
} 

div.fieldset2_container {
    display: flex;
    background-color: rgba(1, 1, 1, .10);
    margin: 8px;
    padding: 2px;
    width: 99%;
    border-radius: 25px;
    flex-direction: column;
} 


h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(to right, rgba(255, 8, 0, 0.6), rgba(255, 0, 0, 0.45), rgba(255, 123, 0, 0.3),  rgba(255, 217, 0, 0));
    border-radius: 15px;
    margin: 3px;
    padding: 2px;
    display: flex;
    flex-flow: row nowrap;
    border-color: rgba(0,0,0,.25);
    border-style: solid;
}

h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(to right, rgba(255, 230, 0, .5), rgba(177, 121, 0, 0.212) ,rgba(177, 121, 0, 0));
    margin: 3px;
    padding: 2px;
    padding-left: 4px;
    display: flex;
    border-color: rgba(0,0,0,.25);
    border-style: solid;
    border-radius: 10px;
}
.fieldset2 {
    display: flex;
    flex-flow: column nowrap;
}

header {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-content: center;
    align-self: center;
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin: 4px;
    padding: 2px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, .5), rgba(255, 255, 255, .5), rgba(0, 255, 0, .5), rgba(255, 0, 0, .5), rgba(255, 255, 255, .5) ,rgba(51, 255, 0, .5));
    border-color: rgba(0,0,0,.25);
    border-style: solid;
    }
    
.food_image {
    display: flex;
    max-height: 300px;
    max-width: 800px;

}