*{
    margin:0;
    padding:0;
}
/* --------------------------------Nav-Bar------------------------------------------------ */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    background:#f2f2f2;
    /* color didnt work */
    color: black;
}
/* ----------------------------HEADER------------------------------------------ */
#showcase{
    background-image:url('../img/beaches.jpeg');
    background-size:cover;
    background-position: center;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align:center;
}

#showcase h1{
    font-size: 50px;
    line-height: 1.2;
}
#showcase p{
    font-size: 20px;
}
#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color:#926239;
    border:#926239 1px solid;
    padding:10px 20px;
    border:radius 10px;
    margin-top:20px;
}
#showcase .button:hover{
    background:#926239;
    color:white;
}

/* ----------------------body------------------------------------------- */
#paragraph-1 {
    color:black;
    background-color: white;
}
#paragraph-2 {
    background-color:#f2f2f2;
    color:black;
}
#container img{
    /* my height is not working */
    width:100%;
}
#beach-3{
    width:100%;
}
#beach-2, #beach-3{
    width:100%;
}
#container{
    display:flex;
    flex-direction: column;
    width:100%;
    position: relative;
}
#beach-1 p, #beach-3 p{
    background-color:#f2f2f2;
    color:black;
    width:100%;
}
#beach-2 p{
    /* background-color: #f2f2f2; */
    color: black;
    width:100%;
}
/* ----------------------------footer------------------------------------ */
#footer{
    background-color:rgb(45, 92, 167);
    color: white;
    position: absolute;
}
#footer .footer-content{
    border:1px solid black;
    /* position: absolute; */
    /* height:350px; */
    
}
/* #footer .footer-content .footer-section{
    /* padding:25px; */
   /* flex:1; */
   /* border: 1px solid white; */
.bottom-footer p{
    background-color:rgb(27, 68, 134);
    text-align:center;
    color:white;
    height: 50px;
    width:100%;
    bottom:0px;
    left:0px;
}

html, #body{
    /* get footer to stick to bottom of page
    if there were no content in the body. */
    min-height:100%
}
/* not doing anything */
.contact span{
    padding-bottom: 2em;
}

/* ----------------------------IPAD DISPLAY------------------------------- */
@media (min-width: 768px) {
    #container{
        display:flex;
        flex-direction: row;
        /* not working */
        justify-content: space-around;
        width:100%;
    }
    #container #beach-1, #container #beach-2, #container #beach-3{
        width:33%;
        
    }
    #beach-1 p, #beach-3 p {
        background-color:#f2f2f2;
        color:black; 
    }
    .footer-content{
        width:100%;
        display:flex;
    }
    .footer-section-about{
        width:33%;
    }
    .contact{
        width:33%;
    }
    .footer-section-links{
        width:33%;
    }
}
/* -------------------------------------DESKTOP DISPLAY---------------------------------------------- */
@media (min-width: 1024px) {
    #footer{
        widows: 100%;
    }
    #footer .footer-content{
        width:100%;
    }

}
