html {
  box-sizing: border-box;
  background-color: coral;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'roboto condensed', sans serif;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0px 150px;
}
a {
  color: darkcyan;
  font: size 80%;
  text-decoration: none;
}
a:hover {
  color: lightseagreen;
}
fieldset {
  border-radius: 20px;
  border: none;
  background-color: lightyellow;
  padding: 0px 20px;
  box-shadow: 1px 1px 2px;
  margin: 10px;
}
legend {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: cornflowerblue;
  padding: 10px;
  padding-top: 5px;
  text-align: center;
  font-weight: 500;
}
button {
  background-color: hotpink;
  box-shadow: 1px 1px 1px darkmagenta;
  border: none;
  color: darkmagenta;
  padding: 25px;
  border-radius: 10px;
  text-align: justify;
  margin: 20px;
  font-weight: 600;
}
button:hover {
  background-color: deeppink;
  border: none;
  color: darkmagenta;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  margin: 20px;
}
button:active {
  background-color: deeppink;
  border: none;
  color: darkmagenta;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  margin: 20px;
}
input[type='radio'] {
  border: 5px solid teal;
}
.container {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
}
.form-size {
  width: 400px;
  text-align: center;
}
.user input {
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  justify-self: space-between;
  caret-color: teal;
  background-color: violet;
}
.order-box {
  background-color: cornflowerblue;
  box-shadow: 1px 1px 1px darkcyan;
  padding: 20px;
  margin: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.order-box label {
  text-align: center;
  border-bottom: 2px darkmagenta;
  font-weight: 500;
  line-height: 30px;
}
.order-box input {
  margin-top: 20px;
}
.img {
  width: 380px;
  padding-top: 25px;
  margin: auto;
}
.img img {
  width: 100%;
  filter: opacity(75%);
  border-radius: 20px;
  box-shadow: 1px 1px 1px coral;
}
