html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.todo-item {
    width: 33.333%;
    text-align: justify;
    padding: 12px;
    /* border: 1px solid red; */
}

img {
    display: block;
    max-width: 100%;
}

.todo-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* align-items: center; */
}