html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

header, footer {
    padding: 12px 18px;
    color: #ffffff;
    background-color: #0f4c81;
    font-family: Helvetica, Arial, sans-serif;
}

.todo-item {
    /* width: 33.333%; */
    text-align: justify;
    padding: 12px 18px;
    font-family: Georgia, serif;
    /* border: 1px solid red; */
}

.todo-item h3 {
    font-family: Helvetica, Arial, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

footer {
    text-align: center;
}

footer a {
    color: #FF6F61;
}

footer a:hover {
    color: blanchedalmond;
}

.navbar {
    font-size: 1.5em;
}

@media (min-width: 768px) {
    .todo-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .todo-item {
        width: 50%;
    }

    footer {
        text-align: left;
    }

    .navbar {
        display: none;
    }
}

@media (min-width: 1024px) {
    .todo-item {
        width: 33.333%;
    }
}
