<!DOCTYPE html>
<html>
    <head> 
        <title>Shopping List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="main.css" />
    </head>
    <body>
        <div class="container">
            <div class="user-size">
                <fieldset class="form-size"/>
                <legend> Shopping List </legend>
                <div class="list">
                    <
                </div>
                <legend> Add to List </legend>
                    <input type="text" name="item" placeholder="Item to add" required/>
                    <input type="text" name="amount" placeholder="How many?" required/>
                <legend> Past Purchases </legend>
                <div class="list">
                </div>      
        </body>
</html>
