html {
    box-sizing: border-box;
    font-family: Helvetica, Arial,  sans-serif;
}
footer{
    background-color: #dba11c;
    color: #f1f1e6;
    padding: 12px 18px;
}
header{
    background-color:#0f4c81;
    color: #f1f1e6;
    text-align: left;
    padding: 6px 18px;
    font-size: 0.8em;
}
section h4{
    font-size: 0.9em;
}
.topnav a{
    padding-left: 4px;
    padding-right: 4px;
    color: #f1f1e6;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.sidenav{
    padding: 20px 6px;
    float: left;
    width: 70px;
    text-align: right;
    background-color: #dba11c;
}
.sidenav a{
    padding-top:6px;
    padding-bottom: 6px;
    display: block;
    color: #f1f1e6;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.sidenav a:hover {
    color: #a9d0ff;
}
.topnav{
    /* width: 100%; */
    overflow: hidden;
    background-color: #0f4c81;
    /* color: #ffffff; */
    padding: 12px 18px;
}
.topnav a:hover{
    color:#a9d0ff;
}
.container{
    margin-left: 75px;
    padding: 0px 10px;
}
header h2{
    font-size: 0.9em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #a3abbd
}
section h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #a3abbd
}
footer{
    color: #f1f1e6;
}
footer a{
    text-align: center;
    color: #f1f1e6;
}
footer a:hover{
    color:#a9d0ff;
}
.item {
    padding-left: 4px;
    padding-right: 4px;
}
@media (min-width: 640px) {
    .container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .item {
        width: 48%;
    }
}
@media (min-width: 960px){
    .item {
        width: 32%;
    }
}