
html {

    box-sizing: border-box;
}
*,*:before *after{
    box-sizing: inherit;
}


.content {
    max-width: 800px;
    margin: auto;
    }
            
img {
    float: right;
    width:393px;
    height:578px;
    margin-left:15px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
     }
    


.pad {
    padding:10px;

}

body {
    background-image: linear-gradient(#DED2A8,#C7AB59)
    
}

h1 {
    text-align: center;
    color: #302718
}

h3 {
    text-align: center;
    color:#302718
}

p {
    border-width: 5px;
}

blockquote {

    font-style: italic;
    font-size: 8;
    color:#1c4966
}

dt {
    color:#302718
}

dd {
    color: #FFFFFF
}

a:link {
    color: #FFFFFF
}

a:visited {

    color: purple
}

li {
    margin: 100;
	padding: 36px 0 36px 30px;
	list-style: none;
	background-image: url("reel.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;}


.div {
    column-count: 2;
}







.centered {
    position: absolute;
    top: 175%;
    left: 68%;
    transform: translate(-50%, -50%);
      }
                                            
