.content {
    max-width: 800px;
    margin: auto;
    }
            
img {
    float: right;
    width:393px;
    height:578px;
    margin-left:15px;
    border-radius: 50%;
    border: 100px;
    border-color: purple;
     }
    
.board{
    border: black;
    padding: 15px;
    border-image: url(border.png);


}


.pad {
    padding:10px;
}

body {
    background-image: linear-gradient(#DED2A8,#C7AB59)
    
}

h1 {
    text-align: center;
    color: #302718
}

h3 {
    text-align: center;
    color:#302718
}

p {
    color:#FFFFFF

}

blockquote {

    font-style: italic;
    font-size: 10;
    color:#1c4966
}

dt {
    color:#302718
}

dd {
    color: #FFFFFF
}

a:link {
    color: #FFFFFF
}

a:visited {

    color: purple
}

li {
    margin: 100;
	padding: 36px 0 36px 30px;
	list-style: none;
	background-image: url("reel.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;}

.centered {
    position: absolute;
    top: 130%;
    left: 68%;
    transform: translate(-50%, -50%);
      }
                                            
