body {
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
}

h1, h2 {
    color: white;
    background-color: black;
    text-align: left;
    margin: 0px 0px 64px;
    padding: 16px 0px 16px 16px;
}

p {
    margin-bottom: 32px;
}